Repository Pepryan/gitops-lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job-generate, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom, job-nat

job-generate:
  stage: generate
  script:
  - echo "copy branch contents"
  - cp -r * $env
  - echo "copy python-tfgen scripts and provider locally"
  - cp -r $scripts_path/python-tfgen/ $env
  - echo "generate updated vm.yaml"
  - cd $env
  - echo yes | ./python-tfgen/tfgen.py -f vm.yaml -o $vm_path
  tags:
  - kvm

job-validate:
  stage: validate
  script:
  - cd $vm_path
  - echo "validate $(pwd)"
  - terraform validate
  tags:
  - kvm

job-plan:
  stage: plan
  script:
  - cd $vm_path
  - echo "planning $(pwd)"
  - terraform plan
  - terraform plan -out tfgen
  tags:
  - kvm

job-apply:
  stage: apply
  allow_failure: true
  script:
  - cd $vm_path
  - echo "apply $(pwd)"
  - terraform apply -auto-approve
  tags:
  - kvm

job-config-node-exporter:
  stage: config-monitoring
  allow_failure: true
  when: delayed
  start_in: 1 minute
  script:
  - cd $scripts_path
  - ./run_install_node_exporter.py -f $vm -k dwara.pem
  tags:
  - kvm

job-config-prom:
  stage: config-monitoring
  allow_failure: true
  when: delayed
  start_in: 20 seconds
  script:
  - cd $scripts_path
  - ./apply_prom.py -f $vm -fp $prom
  needs:
  - job: job-config-node-exporter
  tags:
  - kvm

job-nat:
  stage: nat
  script:
  - cp nat.yaml $scripts_path/nat.yaml
  - cd $scripts_path
  - ./apply_nat.py -f nat.yaml
  tags:
  - nat

Update vm.yaml
  vm.yaml
Due: job-generate, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom

Update archive_scripts/run_install_node_exporter.py
  archive_scripts/run_install_node_exporter.py
Due: none

Test after fixing lab7, update readme
  README.md
  vm.yaml
Due: job-generate, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom

test after fixing lab7
  vm.yaml
Due: job-generate, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom

Delete test-vm1
  vm.yaml
Due: job-generate, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom

recreate new cluster
  vm.yaml
Due: job-generate, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom

Update nat.yaml
  nat.yaml
Due: job-nat

Path conditions:
  job-generate: any of: vm.yaml
  job-validate: any of: vm.yaml
  job-plan: any of: vm.yaml
  job-apply: any of: vm.yaml
  job-config-node-exporter: any of: vm.yaml
  job-config-prom: any of: vm.yaml
  job-nat: any of: nat.yaml
