Repository Pepryan/gitops-lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job-generate, job-init, job-validate, job-plan, job-apply, job-config-monitoring, job-config-prom, job-nat, job-destroy

.gitlab-ci.yml:

workflow:
  rules:
  # jika bukan di branch main, jangan run pipeline
  - if: $CI_COMMIT_BRANCH != "main"
    when: never
  - exists:
    - vm.yaml

# gunakan string commit untuk nama folder(environment) yang unik

variables:
  env: /home/gitlab-runner/
  scripts_path: /home/gitlab-runner/environment/scripts
  vm_path: /home/gitlab-runner/environment/vm
  vm: /home/gitlab-runner/environment/vm.yaml
  prom: /etc/prometheus/prometheus.yml
#  env_name: $GITLAB_USER_LOGIN

stages:
  - generate
  - init
  - validate
  - plan
#  - notif
  - apply
  # - config-monitoring
  - install-node-exporter
  - nat
  - destroy

job-generate:
  stage: generate
  only:
    changes:
      - vm.yaml
  script:
    - echo "copy branch contents"
    - cp -r * $env
    - echo "copy python-tfgen scripts and provider locally"
    - cp -r $scripts_path/python-tfgen/ $env
    - echo "generate updated vm.yaml"
    - cd $env
    - ./python-tfgen/tfgen.py -f vm.yaml -o vm
  tags: [kvm]

job-init:
  stage: init
  when: manual
  only:
    changes:
      - vm.yaml
  script:
    - cd $vm_path
    - echo "init $(pwd)"
    - terraform init
  tags: [kvm]

job-validate:
  stage: validate
  only:
    changes:
      - vm.yaml
  script:
    - cd $vm_path
    - echo "validate $(pwd)"
    - terraform validate
  tags: [kvm]

job-plan:
  stage: plan
  only:
    changes:
      - vm.yaml
  script:
    - cd $vm_path
    - echo "planning $(pwd)"
    - terraform plan
    - terraform plan -out tfgen
  tags: [kvm]

job-apply:
 stage: apply
 allow_failure: true
 only:
   changes:
     - vm.yaml
 script:
   - cd $vm_path
   - echo "apply $(pwd)"
   - terraform apply -auto-approve
 tags: [kvm]

job-config-monitoring:
  stage: install-node-exporter
  allow_failure: true
  only:
    changes:
      - vm.yaml
  when: delayed
  start_in: 1 minute
  script:
    - cd $scripts_path
    - ./run_install_node_exporter.py -f $vm -k dwara.pem
  tags: [kvm]

job-config-prom:
  stage: prom
  allow_failure: true
  only:
    changes:
      - vm.yaml
  when: delayed
  start_in: 20 seconds
  script:
    - cd $scripts_path
    - ./apply_prom.py -f $vm -fp $prom
  tags: [kvm]

job-nat:
  stage: nat
  only:
    changes:
      - nat.yaml
  script:
    - cp nat.yaml $scripts_path/nat.yaml
    - cd $scripts_path
    - ./apply_nat.py nat.yaml
  tags: [nat]

job-destroy:
  stage: destroy
  only:
    changes:
      - vm.yaml
  script:
    - cd $vm_path
    - echo "destroying all vm.yaml"
    - terraform destroy -auto-approve
    - cd $env
    - echo "destroy success"
  when: manual
  tags: [kvm]

fixing job nat, test vm and nat
  .gitlab-ci.yml
  nat.yaml
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-monitoring, job-config-prom, job-nat, job-destroy

fixing needs jobs
  .gitlab-ci.yml
Due: none

test nat only
  nat.yaml
Due: job-nat

evaluate if exporter is already installed/available at vm or not
  archive_scripts/install_node_exporter.sh
Due: none

Update archive_scripts/run_install_node_exporter.py
  archive_scripts/run_install_node_exporter.py
Due: none

fix checker code part
  archive_scripts/run_install_node_exporter.py
Due: none

Add new file
  vm.txt
Due: none

Update vm.txt
  vm.txt
Due: none

Deleted vm.txt
  vm.txt
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update vm.yaml
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-monitoring, job-config-prom, job-destroy

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml, vm.yaml
  .gitlab-ci.yml
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-monitoring, job-config-prom, job-destroy

Update vm.yaml, .gitlab-ci.yml
  .gitlab-ci.yml
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-monitoring, job-config-prom, job-destroy

testing no vm at all
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-monitoring, job-config-prom, job-destroy

Update vm.yaml, inventory/isos.txt
  inventory/isos.txt
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-monitoring, job-config-prom, job-destroy

Update archive_scripts/install_node_exporter.sh
  archive_scripts/install_node_exporter.sh
Due: none

Update README.md
  README.md
Due: none
