Repository Pepryan/gitops-lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job-generate, job-init, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom, job-nat, job-destroy

job-generate:
  stage: generate
  script:
  - echo "copy branch contents"
  - cp -r * $env
  - echo "copy python-tfgen scripts and provider locally"
  - cp -r $scripts_path/python-tfgen/ $env
  - echo "generate updated vm.yaml"
  - cd $env
  - ./python-tfgen/tfgen.py -f vm.yaml -o vm
  - cat vm.yaml
  tags:
  - kvm

job-init:
  stage: init
  when: manual
  script:
  - cd $vm_path
  - echo "init $(pwd)"
  - terraform init
  tags:
  - kvm

job-validate:
  stage: validate
  script:
  - cd $vm_path
  - echo "validate $(pwd)"
  - terraform validate
  tags:
  - kvm

job-plan:
  stage: plan
  script:
  - cd $vm_path
  - echo "planning $(pwd)"
  - terraform plan
  - terraform plan -out tfgen
  tags:
  - kvm

job-apply:
  stage: apply
  allow_failure: true
  script:
  - cd $vm_path
  - echo "apply $(pwd)"
  - terraform apply -auto-approve
  tags:
  - kvm

job-config-node-exporter:
  stage: config-monitoring
  allow_failure: true
  when: delayed
  start_in: 1 minute
  script:
  - cd $scripts_path
  - ./run_install_node_exporter.py -f $vm -k dwara.pem
  tags:
  - kvm

job-config-prom:
  stage: config-monitoring
  allow_failure: true
  when: delayed
  start_in: 20 seconds
  script:
  - cd $scripts_path
  - ./apply_prom.py -f $vm -fp $prom
  needs:
  - job: job-config-node-exporter
  tags:
  - kvm

job-nat:
  stage: nat
  script:
  - cp nat.yaml $scripts_path/nat.yaml
  - cd $scripts_path
  - ./apply_nat.py -f nat.yaml
  tags:
  - nat

job-destroy:
  stage: destroy
  script:
  - cd $vm_path
  - echo "destroying all vm.yaml"
  - terraform destroy -auto-approve
  - cd $env
  - echo "destroy success"
  when: manual
  tags:
  - kvm

Update vm.yaml
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom, job-destroy

Update README.md, image.png
  README.md
  image.png
Due: none

Update README.md
  README.md
Due: none

Update image.png
  image.png
Due: none

added file tfgen.py, add conditional if value is NoneType
  archive_scripts/tfgen.py
Due: none

add exit func
  archive_scripts/tfgen.py
Due: none

testing
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom, job-destroy

deleting command
  .gitlab-ci.yml
Due: none

disable debug
  .gitlab-ci.yml
Due: none

testing no values in vm.yaml
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom, job-destroy

change vm
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom, job-destroy

Config NAT for VM test-feb3
  nat.yaml
Due: job-nat

Update README and delete stage destroy
  .gitlab-ci.yml
  README.md
  image.png
Due: none

deleted VM test-feb and NAT test-feb3
  nat.yaml
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom, job-nat, job-destroy

test resize OS disk
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom, job-destroy

Update README
  README.md
Due: none

Add nat to vm iqbal
  nat.yaml
Due: job-nat

Provisioning iqbal-vm3
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom, job-destroy

delete stage init
  .gitlab-ci.yml
Due: none

fixing scripts nat, apply from nat.yaml
  archive_scripts/apply_nat.py
Due: none

Add build with python-tfgen
  README.md
Due: none

edit nat
  nat.yaml
Due: job-nat

edit ip network iqbal-vm
  vm.yaml
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-config-node-exporter, job-config-prom, job-destroy

update README
  README.md
Due: none

Configure Secret Detection in `.gitlab-ci.yml`, creating this file if it does not already exist
  .gitlab-ci.yml
Due: none

Update vm3.txt
  vm3.txt
Due: none

Path conditions:
  job-generate: any of: vm.yaml
  job-init: any of: vm.yaml
  job-validate: any of: vm.yaml
  job-plan: any of: vm.yaml
  job-apply: any of: vm.yaml
  job-config-node-exporter: any of: vm.yaml
  job-config-prom: any of: vm.yaml
  job-nat: any of: nat.yaml
  job-destroy: any of: vm.yaml
