Repository Pepryan/gitops-lab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job-generate, job-init, job-validate, job-plan, job-apply, job-nat

job-generate:
  stage: generate
  script:
  - echo "copying vm.txt to home/gitlab-runner/environment"
  - cp vm.txt /home/gitlab-runner/environment/env-$env_name.txt
  - cd /home/gitlab-runner/environment
  - echo "generate env folder and files"
  - ./not-tfgen2.sh $env_name env-$env_name.txt
  tags:
  - kvm

job-init:
  stage: init
  script:
  - cd /home/gitlab-runner/environment/$env_name
  - echo "init $(pwd)"
  - terraform init
  tags:
  - kvm

job-validate:
  stage: validate
  script:
  - cd /home/gitlab-runner/environment/$env_name
  - echo "validate $(pwd)"
  - terraform validate
  tags:
  - kvm

job-plan:
  stage: plan
  script:
  - cd /home/gitlab-runner/environment/$env_name
  - echo "planning $(pwd)"
  - terraform plan
  tags:
  - kvm

job-apply:
  stage: apply
  allow_failure: true
  script:
  - cd /home/gitlab-runner/environment/$env_name
  - echo "apply $(pwd)"
  - terraform apply -auto-approve
  tags:
  - kvm

job-nat:
  stage: nat
  script:
  - cp config-nat.yaml /home/gitlab-runner/environment/config-nat.yaml
  - cp apply_nat.py /home/gitlab-runner/environment/apply_nat.py
  - cp validate_nat.py /home/gitlab-runner/environment/validate_nat.py
  - cd /home/gitlab-runner/environment
  ...

update script python, update ci
  .gitlab-ci.yml
  apply_nat.py
Due: none

test nat
  .gitlab-ci.yml
  config-nat.yaml
Due: job-nat

fixing, disable debug
  .gitlab-ci.yml
Due: none

Provisioning test iqbal
  config-nat.yaml
  vm.txt
Due: job-generate, job-init, job-validate, job-plan, job-apply, job-nat

Provisioning test iqbal
  vm.txt
Due: job-generate, job-init, job-validate, job-plan, job-apply

Update vm.txt
  vm.txt
Due: job-generate, job-init, job-validate, job-plan, job-apply

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Path conditions:
  job-generate: any of: vm.txt
  job-init: any of: vm.txt
  job-validate: any of: vm.txt
  job-plan: any of: vm.txt
  job-apply: any of: vm.txt
  job-nat: any of: config-nat.yaml
